.body {
  text-align: center;
  font-family: sans-serif; ;
  display: flex;
  flex-direction: column;
  background-color: #938a85;
}

#jeu{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 300px;
  margin: auto;
  justify-content: center;
}

.case-w{
  border: 1px solid #363945;
  height: 70px;
  width: 70px;
  background-color:#dbd8d6 ;
  border-radius: 3px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.case-b{
  border: 1px solid #363945;
  height: 70px;
  width: 70px;
  background-color: #363945;
  border-radius: 3px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre{
  border: 1px solid #443f3c;
  margin: 40px;
  border-radius: 10px;
  position: static;
}
